@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(Imagenes/black_lozenge.png);
}

.encabezado img {
    width: auto;
    justify-content: center;
    padding-left: 35%;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34404a;

}

nav a {
    text-decoration: none;
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    margin-left: 270px;
}

nav li a:hover {
    background-color: #ffffff
}

body{
    background-image: url(Imagenes/black_lozenge.png);
}

.contenedorgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    justify-content: center;
    padding: 10px; 
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.cont1izq{
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    padding: 5%;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
    border: #cfb344 solid 2px;
}

.cont1izq h1{
    margin-top: 80px;
}

.cont1izq p{
    margin-top: 80px;

}

.cont1der{
    padding: 5%;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
    border: #cfb344 solid 2px;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 55px;
}

#img1{
    
    border: #cfb344 solid 2px;
    width: 93%;
}

#img2{
    border: #cfb344 solid 2px;
    width: 93%;
    margin-top: 10px;

}

.cont2der{
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    padding: 5%;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border: #cfb344 solid 2px;
    padding: 4%;
}
.cont2der h1{
    margin-top: 60px;
}

.cont2der p{
    margin-top: 100px;
}

.cont2izq{
    padding: 5%;
    text-align: center;
    grid-column-start: 0;
    grid-column-end: 2;
    border: #cfb344 solid 2px;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

#img3{
    
    border: #cfb344 solid 2px;
    width: 90%;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 10px;
}

#img4{
    border: #cfb344 solid 2px;
    width: 90%;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 10px;

}

.cont3izq{
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    padding: 5%;
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
    border: #cfb344 solid 2px;
}

.cont3izq h1{
    margin-top: 80px;
}

.cont3izq p{
    margin-top: 80px;

}

.cont3der{
    padding: 5%;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
    border: #cfb344 solid 2px;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-top: 55px;
}

#img5{
    
    border: #cfb344 solid 2px;
    width: 93%;
}

#img6{
    border: #cfb344 solid 2px;
    width: 93%;
    margin-top: 10px;

}

.cont4der{
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    padding: 5%;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    border: #cfb344 solid 2px;
    padding: 4%;
}
.cont4der h1{
    margin-top: 60px;
}

.cont4der p{
    margin-top: 100px;
}

.cont4izq{
    padding: 5%;
    text-align: center;
    grid-column-start: 0;
    grid-column-end: 2;
    border: #cfb344 solid 2px;
    grid-row-start: 7;
    grid-row-end: 8;
    
}

#img7{
    
    border: #cfb344 solid 2px;
    width: 90%;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 10px;
}

#img8{
    border: #cfb344 solid 2px;
    width: 90%;
    grid-row-start: 7;
    grid-row-end: 8;
    margin-top: 10px;

}