@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #040404;

}

.encabezado img {
    width: auto;
    object-position: center;
    padding-left: 42%;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34404a;

}

nav a {
    text-decoration: none;
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    padding: 10%;
}

nav li a:hover {
    background-color: #2f0a02
}

main {
    background-color: #040404;

}

.flexprin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 5vh;

}

#textoprin {
    width: 780px;
    height: auto;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: solid;
    padding: 100px;
    margin-left: 0%;
    background-color: #34404a;
}

#imgflex img {
    width: 800px;
    height: auto;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: solid;
    object-fit: cover;
    margin-left: 20px;
}

#textoprin h2 {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #cfb344;
    font-size: xx-large;
}

#textoprin p {
    margin: 30px;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #cfb344;
    font-size: 140%;
    text-align: right;
}

.frase1 {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style: oblique;
    color: #cfb344;
    font-size: 200%;
    text-align: center;
    padding-bottom: 30px;
}

.flexservicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgserv {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: inset;

}

.flexservicios h2 {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style: oblique;
    color: #cfb344;
    font-size: 200%;
    padding: 10px;
}

.listaserv {
    list-style-type: none;
    padding-left: 50px;
    margin-right: 50px;
    
}

.listaserv a {
    text-decoration: none;
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 150%;

}

.listaserv a:hover {
    background-color: #2f0a02
}

.flex-item {

    border: 2px solid #cfb344;

}

.textmed p{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #cfb344;
    font-size: 120%;
    text-align: center;
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
}