@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(Imagenes/black_lozenge.png);

}

.encabezado img {
    width: auto;
    justify-content: center;
    padding-left: 35%;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34404a;

}

nav a {
    text-decoration: none;
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    padding: 10%;
}

nav li a:hover {
    background-color: #ffffff
}

main {
    background-image: url(Imagenes/black_lozenge.png);

}

.flexprin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 5vh;

}

#textoprin {
    width: 780px;
    height: auto;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: solid;
    padding: 100px;
    margin-left: 0%;
    background-color: #34404a;
}

#imgflex img {
    width: 800px;
    height: auto;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: solid;
    object-fit: cover;
    margin-left: 20px;
}

#textoprin h2 {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #cfb344;
    font-size: xx-large;
}

#textoprin p {
    margin: 30px;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #cfb344;
    font-size: 140%;
    text-align: right;
}

.frase1 {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style: oblique;
    color: #cfb344;
    font-size: 200%;
    text-align: center;
    padding-bottom: 30px;
}

.flexservicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.imgserv {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: inset;

}

.flexservicios h2 {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style: oblique;
    color: #cfb344;
    font-size: 200%;
    padding: 10px;
    margin-top: 120px;
    margin-left: 40px;
}

.listaserv {
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;



}

.listaserv a {
    text-decoration: none;
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 150%;


}

.listaserv a:hover {
    background-color: #ffffff
}

.flex-item {
    border: 2px inset #cfb344;
    background-color: #34404a;

}

.textmed p {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #cfb344;
    font-size: 140%;
    text-align: center;
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
}

.talentoh {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 30%;
    margin-right: 20%;
    max-width: 100%;
    padding: 2vw;
    text-align: justify;
    font-size: 1vw;
    
}

.talentoh img {
    width: 80%;
    height: auto;
    object-fit: cover;  
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: inset;
}

.talentoh h3{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #cfb344;
    font-size: 140%;
}
.talentoh p{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #cfb344;
    font-size: 100%;
    margin-right: 200px;
}

.equipo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10%;
    margin-right: 20%;
    max-width: 100%;
    
}
.equipo .flex-item{
    max-width: 30%;
    margin-top: 20px;
}
.equipo h2{
    margin: 2px auto;
}