@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #9b0404;

}

.encabezado img {
    width: auto;
    object-position: center;
    padding-left: 35%;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8d2c11;

}

nav a {
    text-decoration: none;
    color: #cfb344;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 150%;
    padding: 10%;
}

nav li a:hover {
    background-color: #2f0a02
}

main {
    background-color: #9b0404;

}

.flexprin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 5vh;
   
}
#textoprin {
    width: 780px;
    height:auto;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: inset;
    padding: 100px;
    margin-left: 0%;
}
#imgflex img{
    width: 800px;
    height: auto;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: inset;
    object-fit: cover;
    margin-left: 20px; 
}
#textoprin h2{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #cfb344;
    font-size: xx-large;
}
#textoprin p{
    margin: 30px;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #cfb344;
    font-size: 150%;
    text-align: right;
}

.frase{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style:oblique;
    color: #cfb344;
    font-size: large;
    text-align: center;
}
.flexservicios{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10vh;
}
.imgserv img{
    width: auto;
    height: 40vh;
    border: 6px solid #cfb344;
    border-radius: 1px;
    border-style: inset;
    object-fit: cover;
    margin-left: 20px; 
}

.listaserv h2{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 600;
    font-style:oblique;
    color: #cfb344;
    font-size: 200%;
    text-align: left;
    margin-left: 55%;
    padding: 10px;
}
.listaserv li{
    width: 500px;
    list-style-type:none;
    margin-left:55%;
    border: solid #8d2c11;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #cfb344;
    font-size: 150%;
    text-align: left;
    padding: 6px;

}